* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial,sans-serif;
}

body {
  font-family: helvetica;
  font-size: 1.5rem;
}

#cy {
  width: 100%;
  height: 90%;
  z-index: 999;
}

h1 {
  opacity: 0.5;
  font-size: 1.0rem;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  margin-right: 1.0rem;
}

.line {
  clear: left;
  height: 2.5rem;
  margin-top: 6.0rem;
  margin-right: 6.0rem;
  margin-bottom: 6.0rem;
}

.input-initial {
  width: 6.0rem;
  height: 3.0rem;
}

.radio {
  margin-left: 25px;
}
